@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-color-destructive-foreground: var(----color-destructive-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #1a202c;
  --foreground: #ffffff;
  --destructive-foreground: oklch(1 0 0);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter Variable', 'Inter', sans-serif;
  font-size: 18px;
}
